*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

li{
    list-style: none;
}
a{
    text-decoration: none;
}
p{
    margin:10px 0;  
    line-height: 1.3em;
}
.container{
    max-width:1200px;
    margin:auto;
    height:100%;
    position: relative;
}
/* Util */
.bg-green{
    background:rgb(75, 100, 72)
}

.text-primary{
    color:#3b473a;
}
.btn{
    color:white;
    background:#3b473a;
    padding:0.5rem 1rem;
    display: inline-block;
}

/* navbar */

#navbar{
    overflow: auto;
}


#navbar .logo a {
    color:white;
    float:left;
    padding:1.2rem;
    font-size: 1.4rem;
}

#navbar ul{
    float:right;
    padding:1.2rem;
}

#navbar ul li{
    float:left;
    margin-right: 3rem;
}

#navbar ul li a{ 
    font-size: 1.4rem;
    color:white;
}

#showcase{
    background: url('../img/main.jpg') top 2% center/cover no-repeat;
    height:600px;
}
#showcase .showcase-content{
position: absolute;
top:30%;
right:0;
background:rgba(170, 160, 150,0.8);
border-radius: 10px;
display: inline-block;
width: 300px;
padding:1rem;
}
