*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

li{
    list-style: none;
}
a{
    text-decoration: none;
}
p{
    margin:10px 0;  
    line-height: 1.7em;
}
.container{
    max-width:1200px;
    margin:auto;
    height:100%;
    position: relative;
    overflow: auto;
}

/* Util */
.bg-green{
    background:rgb(75, 100, 72)
}

.text-primary{
    color:#3b473a;
}
.btn{
    color:white;
    background:#3b473a;
    padding:0.5rem 1rem;
    display: inline-block;
}

/* navbar */


#navbar .logo a {
    color:white;
    float:left;
    padding:1.2rem;
    font-size: 1.4rem;
}

#navbar ul{
    float:right;
    padding:1.2rem;
}

#navbar ul li{
    float:left;
    margin-right: 3rem;
}

#navbar ul li a{ 
    font-size: 1.4rem;
    color:white;
}

#showcase{
    background: url('../img/main.jpg') top 2% center/cover no-repeat;
    height:600px;
}

#showcase .showcase-content{
position: absolute;
top:10%;
right:3rem;
text-align: ;
background:rgba(170, 160, 150,0.8);
border-radius: 10px;
display: inline-block;
width: 300px;
padding:1rem;
}

/* info */
#home-info{
    width: 100%;
    margin: auto;
}

#home-info .home-info__container{
    bottom:10rem;
    padding:2rem 2rem;
    background:rgba(192, 199, 132, 0.5);
    display: inline-block;
    width: 33%;
    text-align: center;
    border-radius: 20px;  
}
#home-info img{
    width:100px;
    height:100px;
    border-radius: 50%;
}
