
#navbar{
    text-align: center;
}
#navbar .logo{
padding:1.2rem;
}
#navbar .logo a{
    float:none;
    padding:0;
}
#navbar ul{
    float:none;
}

#navbar ul li{
    float:none;
    margin:0;
    border-top: solid rgb(79, 80, 79) 1px;
}
#navbar ul li a{
    display: block;
    float:none;
    margin:0;
}
/* MAIN-showCase */
#showcase{
    background: url('../img/main.jpg') top 2% center/cover no-repeat;
    height:300px;
}
#home-info .home-info__container{
    bottom:10rem;
    padding:2rem 2rem;
    background:rgba(192, 199, 132, 0.5);
    display: block;
    width: 100%;
    text-align: center;
    border-radius: 20px;  
    margin-bottom: 1rem;
}

#about-info{
    height:100%;
    padding:20px;
}
/* About Page */
#about-info .info-left{
    float:none;
    display: block;
    width:100%;
    background:url('../img/village.jpg') center center/cover no-repeat;
    height:300px;
}
#about-info .info-right{
    float:none;
    width:100%;
}